<%= simple_form_for @user, url: user_path(@user), method: "PUT" do |f| %>
  <h3>Tweets</h3>
    <div id='tweets'>
      <% 7.times do %>
        <%= f.simple_fields_for :tweets, Tweet.new do |tweet| %>
          <%= render 'tweet_fields', f: tweet %>
        <% end %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add tweet', f, :tweets %>
      </div>
    </div>
    <%= f.submit 'Save' %>
<% end %>