<%= simple_form_for @user do |f| %>
  <%= f.input :house_name %>
 	<div class="members">
    <%= f.simple_fields_for :members do |member| %>
      <%= render 'member_fields', :f => member %>
    <% end %>
      <%= link_to_add_association 'add task', f, :members %>
  <%= f.submit %>
	</div>
<% end %>