<h3>住人のツイッターアカウントを設定してね！</h3>

<%= simple_form_for @user, url: user_path(@user), method: "PUT" do |f| %>
  <h3>住人設定</h3>
    <div id='members'>
      <%= f.simple_fields_for :members do |member| %>
        <%= render 'member_fields', :f => member %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add member', f, :members %>
      </div>
    </div>
    <%= f.submit 'Save' %>
    <%= hidden_field_tag :redirect_path, request.path_info %>
<% end %>
<div>
<%= link_to 'Back', user_path(@user) %>